themes {
    moonfly {
        fg 178 178 178
        bg 8 8 8
        black 48 48 48
        red 255 84 84
        green 128 160 255
        yellow 227 199 138
        blue 128 160 255
        magenta 207 135 232
        cyan 121 218 200
        white 198 198 198
        orange 228 228 228

        text_unselected {
            base 178 178 178
            background 48 48 48
            emphasis_0 128 160 255
            emphasis_1 128 160 255
            emphasis_2 128 160 255
            emphasis_3 128 160 255
        }
        text_selected {
            base 228 228 228
            background 26 26 46
            emphasis_0 128 160 255
            emphasis_1 128 160 255
            emphasis_2 128 160 255
            emphasis_3 128 160 255
        }
        ribbon_selected {
            base 8 8 8
            background 128 160 255
            emphasis_0 228 228 228
            emphasis_1 128 160 255
            emphasis_2 128 160 255
            emphasis_3 128 160 255
        }
        ribbon_unselected {
            base 178 178 178
            background 48 48 48
            emphasis_0 128 160 255
            emphasis_1 128 160 255
            emphasis_2 128 160 255
            emphasis_3 128 160 255
        }
        frame_selected {
            base 128 160 255
            background 8 8 8
            emphasis_0 228 228 228
            emphasis_1 228 228 228
            emphasis_2 228 228 228
            emphasis_3 228 228 228
        }
        frame_unselected {
            base 110 110 110
            background 8 8 8
            emphasis_0 110 110 110
            emphasis_1 110 110 110
            emphasis_2 110 110 110
            emphasis_3 110 110 110
        }
        frame_highlight {
            base 228 228 228
            background 8 8 8
            emphasis_0 128 160 255
            emphasis_1 128 160 255
            emphasis_2 128 160 255
            emphasis_3 128 160 255
        }
        exit_code_success {
            base 140 200 95
            background 8 8 8
            emphasis_0 140 200 95
            emphasis_1 140 200 95
            emphasis_2 140 200 95
            emphasis_3 140 200 95
        }
        exit_code_error {
            base 255 84 84
            background 8 8 8
            emphasis_0 255 84 84
            emphasis_1 255 84 84
            emphasis_2 255 84 84
            emphasis_3 255 84 84
        }
    }
}
